.eb-home-background-first {
  background: url(/images/home@2x.png) no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: 100vw 100vh;
  object-fit: cover;
}

.eb-home-application {
  height: 15.5rem;
  width: 16rem;
}
