a {
  text-decoration: inherit;
  color: inherit;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

picture {
  font-size: 0;
  display: block;
}

:root {
  --bs-link-color: #247fff;
  --bs-link-hover-color: #247fff;
}
