.home-banner {
  width: 100%;
  background-size: 100%;
  object-fit: cover;
  position: relative;
  padding-top: 70px;

  &-pc {
    position: relative;
    width: 100%;
    height: 640px;
    overflow: hidden;

    &-banner {
      position: absolute;
      height: 100%;
      left: 50%;
      pointer-events: none;
      top: 0;
      transform: translate3d(-50%, 0, 0);
      -webkit-transform: translate3d(-50%, 0, 0);
      -webkit-transition: opacity 0.2s linear;
      width: auto;
    }

    &-breathe {
      position: absolute;
      border-radius: 82px;
      left: calc(50% + 250px);
      top: calc(50% - 180px);
      width: 182px;
      height: 240px;
      transform: scale(0.8);
    }
  }

  &-content {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: left;
    white-space: nowrap;

    &-title {
      font-size: 50px;
      font-weight: bold;
      color: black;
    }

    &-desc {
      font-size: 20px;
      font-weight: 400;
      color: #4e5969;
      margin-top: 40px;
      margin-bottom: 66px;
    }

    &-link {
      display: inline-block;
      background: #ffffff;
      border: 1px solid rgba(255, 255, 255, 0.18);
      box-shadow: -15px -13px 29px 0px #ffffff;
      border-radius: 6px;
      padding: 19px 44px;
      color: #0d72ff;
      font-size: 16px;

      .anticon {
        margin-left: 10px;
        font-size: 20px;
        vertical-align: baseline;
      }
    }

    &-link:hover {
      color: #0d72ff;
    }
  }
}

.section-app {
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 80px;
  padding-top: 93px;
  padding-bottom: 93px;
  $self: &;

  &-reverse {
    #{$self}-aside {
      order: 2;
    }
  }

  &-aside {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &-caption {
      h1 {
        font-weight: 400;
        font-size: 40px;
        margin: 0 0 33px;
      }

      &-highlight {
        color: var(--primary-color);
      }
    }

    &-desc {
      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 9px;
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }

        p {
          font-size: 16px;
          font-weight: 300;
          color: #4e5969;
          margin: 0;
        }
      }

      &-icon {
        font-size: 20px;
      }
    }

    &-link {
      margin-top: 42px;
      background: var(--primary-color);
      border: 1px solid rgba(255, 255, 255, 0.18);
      box-shadow: -15px -13px 29px 0px #fff;
      padding: 17px 37px;
      color: white;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 300;

      &-icon {
        font-size: 16px;
        padding-left: 10px;
        vertical-align: baseline;
      }
    }

    &-link:hover {
      color: white;
    }
  }

  &-content {
    position: relative;
    flex-grow: 1;
    min-width: 630px;
    max-width: 1000px;
    max-height: 600px;
    padding-bottom: 33px;
    padding-right: 68px;

    &-video {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      padding: 20px;
      -webkit-filter: brightness(100%);

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-wrap {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }

    &-img {
      display: none;
    }

    &-background {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 40%;
      height: auto;
      z-index: -10;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &-arrow {
      position: absolute;
      bottom: 0;
      left: 12.5%;
      width: 12.5%;
      height: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.section-more {
  position: relative;
  width: 100%;

  &-img {
    height: auto;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  &-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;

    img {
      width: 60px;
      height: 60px;
      margin-right: 24px;
      object-fit: cover;
      vertical-align: middle;
    }
  }

  &-link {
    font-weight: bold;
    font-size: 20px;
  }
}

.section-template {
  position: relative;

  &-background {
    height: auto;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  &-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
  }

  h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 38px;
  }

  &-link {
    padding: 18px 66px;
    font-weight: 300;
    font-size: 16px;
    background: white;
    color: black;
    border-radius: 6px;
  }
}

@media screen and (max-width: 768px) {
  .home-banner {
    width: 100%;
    height: 17.78666rem;
    background: url('/images/banner-mb.png') no-repeat;
    background-size: 100%;
    object-fit: cover;
    position: relative;

    &-pc {
      display: none;
    }

    &-content {
      top: 3.2rem;
      position: absolute;
      left: 0;
      right: 0;
      transform: none;
      text-align: center;
      white-space: nowrap;

      &-title {
        font-size: 0.88rem;
        font-weight: bold;
        color: black;
      }

      &-desc {
        font-size: 0.43rem;
        font-weight: 400;
        color: #4e5969;
        margin-top: 0.53rem;
        margin-bottom: 0.81rem;
      }

      &-link {
        display: inline-block;
        background: #ffffff;
        border-radius: 0.08rem;
        border: 0.01px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0rem 0rem 0rem 0rem #ffffff;
        padding: 0.28rem 0.87rem;
        color: var(--primary-color);
        font-size: 0.32rem;

        .anticon {
          margin-left: 0.27rem;
          font-size: 0.32rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-app {
    gap: 0.81rem;
    display: flex;
    flex-direction: column;
    padding: 1.05rem 0.68rem 0.56rem;
    $self: &;

    &-reverse {
      #{$self}-aside {
        order: 0;
      }
    }

    &-aside {
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &-caption {
        h1 {
          font-size: 0.75rem;
          font-weight: 400;
          margin-bottom: 0.29rem;
        }
      }

      &-desc {
        li {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 0.28rem;
          margin-bottom: 0.29rem;

          &:last-child {
            margin-bottom: 0;
          }

          p {
            font-size: 0.35rem;
            font-weight: 300;
            color: #4e5969;
            margin: 0;
          }
        }

        &-icon {
          font-size: 0.37rem;
        }
      }

      &-link {
        margin-top: 0.55rem;
        background: var(--primary-color);
        border: 0.01px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0rem 0rem 0rem 0rem #ffffff;
        border-radius: 0.08rem;
        padding: 0.28rem 0.53rem;
        color: #fff;
        font-size: 0.32rem;
        font-weight: 400;

        &-icon {
          font-size: 0.32rem;
          padding-left: 0.27rem;
        }
      }
    }

    &-content {
      position: relative;
      flex-grow: 1;
      min-width: 0;
      max-width: 100%;
      min-height: 0;
      padding-bottom: 0.52rem;
      padding-right: 0;

      &-video {
        display: none;
      }

      &-img {
        display: inline-block;
        padding: 0.2rem;
        position: relative;

        &-body {
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        &-wrap {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }

      &-background {
        width: 3.99rem;
        height: 3.99rem;
        position: absolute;
        right: -0.6rem;
        bottom: 0;
        z-index: -10;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &-background-topleft {
        top: -0.29rem;
        left: -0.68rem;
      }

      &-background-leftbottom {
        left: -0.68rem;
        bottom: 0;
      }

      &-arrow {
        position: absolute;
        left: 0.84rem;
        bottom: 0;
        width: 1.24rem;
        height: 1.51rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-more {
    h1 {
      text-align: center;
      font-size: 0.61rem;

      img {
        width: 0.79rem;
        height: 0.79rem;
        margin-right: 0.32rem;
        object-fit: cover;
        vertical-align: bottom;
      }
    }

    &-link {
      font-weight: bold;
      font-size: 0.35rem;
      margin-top: 0.45rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-template {
    h1 {
      font-size: 0.48rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }

    &-link {
      padding: 0.25rem 0.52rem;
      font-weight: 300;
      font-size: 0.37rem;
      background: white;
      color: black;
      border-radius: 0.08rem;
    }
  }
}
